body {
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #e8f5e9;
}

.top-bar {
    width: 100%;
    padding: 0.5em;
    display: flex;
    margin-left: 1em;
    align-items: stretch;
    position: absolute;
    top: 0;
    gap: 1.5rem;
}

.top-bar a.icon {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
    /* margin-left: 10px; */
    background-color: #fcdd03;
}

.button {
    display: inline-block;
    white-space: nowrap;
    padding: 0.5em 1em;
    max-height: 2.5em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #388e3c;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2e7d32;
    /* Darker green on hover */
}

.highlighted {
    color: #388e3c;
    background-color: #fff;
}

.highlighted:hover {
    background-color: #d3d3d3;
}

.logout-button {
    background-color: #fcdd03;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    transition: transform 0.2s ease;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 1em;
}

.logout-icon {
    fill: green;
    filter: invert(24%) sepia(88%) saturate(548%) hue-rotate(97deg) brightness(95%) contrast(85%); /* Green effect when SVG has semi-overlay filters for most interfaces */
    max-width: 2em;
    max-height: 2em;
    transition: transform 0.2s ease;
}

footer {
    width: 100%;
    padding: 5px 0;
    margin-left: 1rem;
    text-align: start;
    color: #1b5e20;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
}