<!DOCTYPE html>
<html>

<head>
    <title>Plant Emotion Classification</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <style>
        .container p {
            font-size: 2em;
        }

        .container img {
            width: 25rem;
        }
    </style>
</head>

<body>
    {% from "macros.html" import render_top_bar, render_footer %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    {{ render_top_bar('live-emotion') }}
    <div class="container">
        <img id="emotionImage" src="{{ data.initial_image_src }}">
        <p id="currentEmotion">Current emotion: {{data.initial_emotion}}</p>
        <p id="lastUpdate"></p>
    </div>
    <script>
        const socket = io();
        const emotionText = document.getElementById('currentEmotion');
        const emotionImage = document.getElementById('emotionImage');
        const lastUpdateText = document.getElementById('lastUpdate');

        const getTime = () => {
            const now = new Date();
            const time = `${now.getHours()}:${now.getMinutes()}`

            return `Last update: ${time}`;
        }

        lastUpdateText.textContent = getTime();

        socket.on('update', (data) => {
            emotionText.textContent = `Current emotion: ${data.emotion}`;
            emotionImage.src = `static/${data.emotion}.svg`;
            lastUpdateText.textContent = getTime();
        });
    </script>
</body>
{{ render_footer(version) }}

</html>