{% macro render_top_bar(current_page) %}
<div class="top-bar">
    <a href="/" class="icon button">&#127793;</a> <!-- Unicode character for a plant icon -->
    <a href="/states" class="button {% if current_page == 'states' %}highlighted{% endif %}">Live Recordings</a>
    <a href="/liveEmotion" class="button {% if current_page == 'liveEmotion' %}highlighted{% endif %}">Live Emotion</a>
    <a href="/audioClassification"
        class="button {% if current_page == 'audioClassification' %}highlighted{% endif %}">Audio Classification</a>
</div>
{% endmacro %}

{% macro render_footer(version) %}
<footer>
    <p>Plant Emotion Classification {{ version }} | <a
            href="https://github.com/diego411/plant_emotion_classification">GitHub</a></p>
</footer>
{% endmacro %}