{% macro render_top_bar(current_page, is_login_page=False) %}
<div class="top-bar">
    <a href="/" class="icon button">&#127793;</a> <!-- Unicode character for a plant icon -->

    {%if is_login_page == False %}
    <a href="/recordings" class="button {% if current_page == 'recordings' %}highlighted{% endif %}">Recordings</a>
    <a href="/live-emotion" class="button {% if current_page == 'live-emotion' %}highlighted{% endif %}">
        LiveEmotion
    </a>
    <a href="/audio-classification" class="button {% if current_page == 'audio-classification' %}highlighted{% endif %}">
        Audio Classification
    </a>
    <a href="/experiments" class="button {% if current_page == 'experiments' %}highlighted{% endif %}">
        Emotion Experiments
    </a>
    <a href="/scripts" class="button {% if current_page == 'scripts' %}highlighted{% endif %}">Scripts</a>
    <button class="logout-button" onclick="logout()"><img class="logout-icon" src="/static/logout.svg"></button>
    {% endif %}
</div>

<script>
    const logout = async () => {
        try {
            const response = await fetch('/api/v1/logout', {
                method: 'POST',
                credentials: 'same-origin'
            });

            if (response.ok) {
                window.location.href = "/login";
            } else {
                const error = await response.json();
                alert(`Logout failed: ${error.message}`)
            }
        } catch (e) {
            console.log(e)
        }
    }
</script>

{% endmacro %}

{% macro render_footer(version) %}
<footer>
    <p>Plant Emotion Classification {{ version }} | <a
            href="https://github.com/diego411/plant_emotion_classification">GitHub</a></p>
</footer>
{% endmacro %}