<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recording states</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        .wrapper {
            overflow: auto;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 1em;
            justify-content: space-evenly;
            margin: 5% 0%;
        }

        li {
            display: inline-block;
            list-style-type: none;
            margin: 1em;
            border-radius: 5px;
            background-color: white;
            padding: 1em 1em;
        }

        canvas {
            min-height: 20em;
        }

        .header {
            display: flex;
            justify-content: space-between;
            font-size: 1em;
            margin-bottom: 0.5em;
        }

        .header a {
            text-decoration: none;
            color: #388e3c;
        }

        .header p {
            padding: 0;
            margin: 0;
        }

        .action-button {
            width: 2em;
            height: 2em;
            background-color: #fcdd03;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;
            border: none;
            outline: none;
        }

        .action-button:hover {
            background-color: #fcdf03d5;
        }

        .delete {
            background-color: red;
        }

        .delete:hover {
            background-color: rgb(251, 52, 52);
        }

        .action-icon {
            fill: white;
        }

        .action-container {
            display: flex;
            flex-direction: row;
            gap: 0.4em
        }
    </style>
</head>

<body>
    {% from "macros.html" import render_top_bar, render_footer %}
    {{ render_top_bar('states') }}
    <div class="wrapper">
        <p style="display: none;" id="recordings">{{recordings}}</p>
        <ul>
            {% for recording in recordings %}
            <li id="item_{{recording.id}}">
                <div id="header_{{recording.name}}" class="header">
                    <a href="/recording/{{recording.id}}">{{recording.name}}</a>
                    {% if recording.start_time is defined %}
                    <p id="start_time_{{recording.name}}">Start time: {{recording.start_time}}</p>
                    {% else %}
                    <p id="start_time_{{recording.name}}"></p>
                    {% endif %}

                    <p id="expected_update_{{recording.name}}"></p>

                    <div id="action_container_{{recording.name}}" class="action-container">
                        {% if recording.start_time is defined %}
                        <button id="button_stop_{{recording.name}}" onclick="executeAction('stop', '{{recording.id}}')"
                            class="action-button">
                            <svg class="action-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <rect x="6" y="6" width="12" height="12" />
                            </svg>
                        </button>
                        {% else %}
                        <button id="button_start_{{recording.name}}"
                            onclick="executeAction('start', '{{recording.id}}')" class="action-button">
                            <svg class="action-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 5v14l11-7z" />
                            </svg>
                        </button>
                        {% endif %}
                        <button class="action-button delete" onclick="executeAction('delete', '{{recording.id}}')">
                            <svg viewBox="0 0 1024 1024" fill="#000000" class="action-icon" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M32 241.6c-11.2 0-20-8.8-20-20s8.8-20 20-20l940 1.6c11.2 0 20 8.8 20 20s-8.8 20-20 20L32 241.6zM186.4 282.4c0-11.2 8.8-20 20-20s20 8.8 20 20v688.8l585.6-6.4V289.6c0-11.2 8.8-20 20-20s20 8.8 20 20v716.8l-666.4 7.2V282.4z"
                                    fill="" />
                                <path
                                    d="M682.4 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM367.2 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM524.8 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM655.2 213.6v-48.8c0-17.6-14.4-32-32-32H418.4c-18.4 0-32 14.4-32 32.8V208h-40v-42.4c0-40 32.8-72.8 72.8-72.8H624c40 0 72.8 32.8 72.8 72.8v48.8h-41.6z"
                                    fill="" />
                            </svg>
                        </button>
                    </div>
                </div>
                <canvas id="chart_{{recording.name}}"></canvas>
            </li>
            {% endfor %}
        </ul>
    </div>
    {{ render_footer(version) }}
</body>
<script>
    const socket = io();
    const recordings = JSON.parse(document.getElementById('recordings').textContent.replace(/'/g, '"'));
    const charts = {};

    for (const recording of recordings) {
        const measurements = recording.measurements.slice(recording.measurements.length);
        const expectedUpdateParagraph = document.getElementById(`expected_update_${recording.name}`);
        expectedUpdate = calculateExpectedUpdate(recording['last_update'], recording['threshold'], recording['sample_rate']);
        if (!isNaN(expectedUpdate))
            expectedUpdateParagraph.textContent = `Expecting update in: ${expectedUpdate}s`

        const ctx = document.getElementById(`chart_${recording.name}`).getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line', // Change this to 'bar' or other types if you prefer
            data: {
                labels: measurements.map((_, index) => index + 1), // Labels for X-axis (1, 2, 3, ...)
                datasets: [{
                    label: 'Values',
                    data: measurements,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    pointRadius: 0,
                }]
            },
            options: {
                animations: {
                    duration: 200
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 1
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
        charts[recording.name] = myChart;
    }

    socket.on('recording-start', (data) => {
        const startTimeParagraph = document.getElementById(`start_time_${data.name}`);
        if (startTimeParagraph !== null)
            startTimeParagraph.textContent = `Start time: ${data['start_time']}`;

        const startButton = document.getElementById(`button_start_${data.name}`);
        if (startButton !== null) {
            startButton.remove();

            const actionContainer = document.getElementById(`action_container_${data.name}`);

            const button = document.createElement('button');
            button.setAttribute('class', 'action-button');
            button.id = `button_stop_${data.name}`;
            button.onclick = () => executeAction('stop', data.id);

            const svgNS = "http://www.w3.org/2000/svg";
            const svg = document.createElementNS(svgNS, 'svg');
            svg.setAttribute('class', 'action-icon');
            svg.setAttribute('viewBox', '0 0 24 24');

            // Create the rectangle inside the SVG
            const rect = document.createElementNS(svgNS, 'rect');
            rect.setAttribute('x', '6');
            rect.setAttribute('y', '6');
            rect.setAttribute('width', '12');
            rect.setAttribute('height', '12');

            svg.appendChild(rect);
            button.appendChild(svg);

            actionContainer.insertBefore(button, actionContainer.firstChild);
        }

        const recordingIndex = recordings.findIndex(recording => recording.name === data.name);
        recordings[recordingIndex]['last_update'] = getNowFormatted();
    });

    socket.on('recording-stop', (data) => {
        const item = document.getElementById(`item_${data.id}`);
        item?.remove();
        recordings.splice(recordings.findIndex(recording => recording.id === data.id), 1);
    });

    socket.on('recording-delete', (data) => {
        const item = document.getElementById(`item_${data.id}`);        
        item?.remove();
        recordings.splice(recordings.findIndex(recording => recording.id === data.id), 1);
    });

    socket.on(`recording-update`, (data) => {
        const chart = charts[data.name];
        if (chart === undefined)
            return;

        let measurements = data.measurements;
        const threshold = data.threshold * 2;
        measurements = measurements.slice(measurements.length - threshold);

        chart.data.labels = measurements.map((_, index) => index + 1);
        chart.data.datasets[0].data = measurements;

        chart.update();

        const recordingIndex = recordings.findIndex(recording => recording.name === data.name);
        recordings[recordingIndex]['last_update'] = data['last_update'];
    });

    function executeAction(action, id) {
        fetch(`/recording/${id}/${action}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }

    function getNowFormatted() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0'); // Local hour
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }

    function calculateExpectedUpdate(lastUpdate, threshold, sampleRate) {
        if (lastUpdate === undefined)
            return NaN;

        const secondsForOneUpdate = threshold / sampleRate;

        const lastUpdateTimestamp = new Date(lastUpdate.replace(" ", "T")).getTime();
        const secondsPassed = (Date.now() - lastUpdateTimestamp) / 1000;

        return Math.floor(secondsForOneUpdate - secondsPassed);
    }

    function updateExpectedUpdate() {
        for (recording of recordings) {
            const expectedUpdateParagraph = document.getElementById(`expected_update_${recording.name}`);
            const expectedUpdate = calculateExpectedUpdate(recording['last_update'], recording['threshold'], recording['sample_rate']);
            if (!isNaN(expectedUpdate))
                expectedUpdateParagraph.textContent = `Expecting update in: ${expectedUpdate}s`
        }
    }

    setInterval(updateExpectedUpdate, 1000);

</script>

</html>