{% macro render_confirmation_dialog(title, message) %}
<div class="overlay" id="confirmationDialog">
    <div class="dialog">
        <h3 id="title">{{title}}</h3>
        <p id="message">{{message}}</p>
        <div class="dialog-button-container">
            <button class="cancel" id="cancelButton">Cancel</button>
            <button class="confirm" id="confirmButton">Yes</button>
        </div>
    </div>
</div>

<script>
    const dialog = document.getElementById('confirmationDialog');
    const titleHeader = document.getElementById('title');
    const messageParagraph = document.getElementById('message');
    const cancelButton = document.getElementById('cancelButton');
    const confirmButton = document.getElementById('confirmButton');

    function openDialog(title, message, showResolve=true, showReject=true) {
        dialog.style.display = 'flex';
        titleHeader.textContent = title;
        messageParagraph.textContent = message;

        if (showResolve)
            confirmButton.classList.remove('hidden');
        else
            confirmButton.classList.add('hidden');

        if (showReject)
            cancelButton.classList.remove('hidden');
        else
            cancelButton.classList.add('hidden');

        return new Promise((resolve, reject) => {
            const confirmButton = document.getElementById('confirmButton');
            const cancelButton = document.getElementById('cancelButton');

            const handleConfirm = () => {
                resolve();
                cleanup();
            };

            const handleCancel = () => {
                reject();
                cleanup();
            };

            const cleanup = () => {
                dialog.style.display = 'none';
                confirmButton.removeEventListener('click', handleConfirm);
                cancelButton.removeEventListener('click', handleCancel);
            };

            confirmButton.addEventListener('click', handleConfirm);
            cancelButton.addEventListener('click', handleCancel);
        });
    }
</script>

<style>
    .hidden {
        display: none;
    }

    .dialog {
        padding: 1em;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: left;
        width: 300px;
    }

    .dialog h3 {
        margin: 0;
        padding: 0;
    }

    /* Button container */
    .dialog-button-container {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        margin-top: auto;
        /* Push buttons to the bottom */
    }

    .dialog button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .dialog .confirm {
        background-color: #4CAF50;
        color: white;
    }

    .dialog .cancel {
        background-color: #f44336;
        color: white;
    }
</style>
{% endmacro %}